li{
  list-style: none;
}

.side-bar{
  width: 300px;
  color: white;
  float: left;
  height: 100vh;


.side-header{
  background-color: #253141;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height:100px;
  color: #ffffff;

  &__box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

  &__user{
  margin: 0;
  padding: 0;
}

  &__menu{
  display:flex;
}

 &__config{
  margin-left: 0.5rem;
}

 &__edit{
  margin-left: 0.5rem;
}
  .fas {
  color: #ffffff;
}
}
.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}

.group{
  margin: 0 0 40px;


&__group-name{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

&-latest-message{
  font-size: 11px;
}}
}

